html, body {
	display: block;
	padding: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333000;
}

::selection {
	background: #D5F5E3;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #61B72C;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	z-index: -1;
}

.date {
	font-size: 13px;
	color: gray;
}

.contact-links {
	text-decoration: underline;
}
